th {
  width: 100px;
  min-width: 100px;
  max-width: 100px;
}

.item-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 4px 0;
  padding: 8px 16px;
  cursor: pointer;
}

.list-item h4,
p {
  margin: 0.4rem;
}

.whiteframe {
  border: none;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14),
    0 3px 3px -2px rgba(0, 0, 0, 0.12);
}

.pagination-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 16px;
}

.pagination-button-container button {
  margin: 0 4px;
}

.hide {
  display: none;
}

.content-container {
  margin: 4px 0;
  padding: 16px;
}

.spinner {
  position: fixed;
  z-index: 1000;
  top: 85px;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*
From: https://code-boxx.com/rotate-spin-image-html-css/#sec-animate 
*/
@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spin {
  animation-name: spinning;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.header-content h3 {
  margin: 0 0.4rem;
}
