.stopwatch-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.stopwatch-button {
  width: 100px;
  height: 30px;
  border: 3px solid white;
  border-radius: 50px;
  background: #202020;
  color: white;
  cursor: pointer;
  outline: none;
  margin: 4px;
}

.stopwatch-button[disabled] {
  background: #808080;
  color: #ccc;
  cursor: default;
}

.stopwatch-time {
  font-size: 100px;
}

.stopwatch-buttons li {
  display: inline;
  padding: 0;
  /* padding: 10px; */
}
