body {
  margin: 0 auto;
  background-color: #f0f0f0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(0, 0, 0, 87%);
  overflow-y: scroll;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.repos-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.repo-detail-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.toolbar-view {
  display: flex;
  margin-top: 4px;
  padding: 8px 4px;
  border: solid 1px gray;
  background-color: plum;
}

.toolbar-view input,
select {
  margin: 0 2px 0 8px;
}

.toolbar-view button {
  margin-right: 16px;
}

.toolbar-view-flex {
  flex-direction: column;
}

@media (min-width: 960px) {
  body {
    width: 720px;
  }
  .repo-detail-container {
    flex-direction: row;
    align-items: flex-start;
  }

  .toolbar-view-flex {
    flex-direction: row;
  }
}

.header {
  color: white;
  background-color: #3f51b5;
  padding: 8px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header a {
  color: white;
  margin-right: 16px;
}

.repo-select {
  height: 32px;
  margin: 0 16px;
}

.repo-container,
.contributors-container {
  background-color: white;
  flex: 1;
  margin: 8px 4px;
}

.card-container {
  padding: 16px;
}

.contributor-header {
  font-size: 0.8rem;
  color: rgb(0, 0, 0, 54%);
  padding: 16px;
}

.contributor-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.contributor-item {
  border-bottom: solid 1px rgb(0, 0, 0, 12%);
  padding: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

.contributor-item:hover {
  background-color: #eee;
}

.contributor-avatar {
  border-radius: 3px;
  margin-right: 16px;
  height: 48px;
}

.contributor-data {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.contributor-badge {
  font-size: 12px;
  padding: 2px 8px;
  line-height: 1rem;
  background-color: gray;
  color: white;
  border-radius: 4px;
}

table {
  table-layout: fixed;
  color: rgb(0, 0, 0, 81%);
}

td,
th {
  vertical-align: top;
}

th {
  width: 100px;
  min-width: 100px;
  max-width: 100px;
}

.list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 4px 0;
  padding: 8px 16px;
  cursor: pointer;
}

.list-item h4,
p {
  margin: 0.4rem;
}

.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header-content {
  display: flex;
  flex-direction: row;
}

.header-content button {
  margin: 0 16px 0 0;
}

.whiteframe {
  border: none;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14),
    0 3px 3px -2px rgba(0, 0, 0, 0.12);
}

.dialog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20%;
  padding: 16px;
}

.dialog-container button {
  margin-top: 16px;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 16px;
}

.button-container button,
a {
  margin: 0 4px;
}

.button-container a {
  font-weight: bold;
  text-decoration: none;
  padding: 4px 8px;
  border: solid 1px gray;
  border-radius: 4px;
}

.loading-indicator {
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*
From: https://code-boxx.com/rotate-spin-image-html-css/#sec-animate 
*/
@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spin {
  animation-name: spinning;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  /* linear | ease | ease-in | ease-out | ease-in-out */
  animation-timing-function: linear;
}
